*{
    margin: 0;
    padding: 0;
}

.nav-bar{
    position: fixed;
    top: 10px;
    left: 0;
    right: 0;
    z-index: 99999999;



    ul{
        list-style: none;
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 50%;
        li{
            cursor: pointer;
            font-size: 1.2rem;
            font-weight: bolder;
            color: var(--main-color);
            text-decoration: none;
            padding: 8px;
            border-radius: 10px;
            letter-spacing: 1px;
            transition: 0.3s ease-in-out;
        }

        li:hover{
            color: var(--second-color) !important;
            background-color: var(--main-color);
        }
        .active{
            background-color: var(--main-color);
            color: var(--second-color) ;
        }

        
    }







    nav{
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: var(--second-color);
        padding: 10px ;
        margin-bottom: 50px;
        border-radius: 10px;
        width: 85%;
        margin: auto;
        transition: 0.3s ease-in-out;
        h1{
            color: var(--main-color);
            font-weight: bolder;
            letter-spacing: 2px;
            cursor: pointer;
        }
        ul{
            list-style: none;
            display: flex;
            justify-content: space-around;
            align-items: center;
            width: 50%;
            li{
                cursor: pointer;
                font-size: 1.2rem;
                font-weight: bolder;
                color: var(--main-color);
                text-decoration: none;
                padding: 8px;
                border-radius: 10px;
                letter-spacing: 1px;
                transition: 0.3s ease-in-out;
            }
    
            li:hover{
                color: var(--second-color) !important;
                background-color: var(--main-color);
            }
            .active{
                background-color: var(--main-color);
                color: var(--second-color) ;
            }

            
        }

        .menu{
            margin-right: 10px;
            cursor: pointer;
            display: none;
            padding: 2px 11px;
            border-radius: 10px;
            transition: 0.3s ease;
            div{
                width: 30px;
                height: 3px;
                background-color: var(--main-color);
                margin: 8px 0;
                transition: 0.3s ease;
            }
        }
        .menu.clicked{
            background-color: var(--main-color);
            div{
                background-color: var(--second-color);
            }
        }


    }

    .hid{
        background-color: var(--second-color);
        height: 0;
        width: 50%;
        position: absolute;
        top: 70px;
        right: 50%;
        transform: translateX(50%);
        border-radius: 10px;
        transition: 0.3s ease;
        display: none;
        ul{
            display: none;
            width: max-content;
            margin: 20px; 
            transition: 0.2s ease;           
        }
    }
    
    .hid.atractiv{
        // width: 85%;
        height: 220px;
    }
    .hid.atractiv ul{
        display: block;
    }

    @media (max-width:990px) {
        
        nav .menu{
            display: block;
        }
        nav .main-ul{
            display: none;
        }
        .hid{
            display: block;
        }
    }
}
