

<div class="nav-bar">
    <nav>
        <h1 class="h2" [routerLink]="['/products']">ORDER</h1>
        <ul class="main-ul">
            <li [routerLink]="['/products']" routerLinkActive="active">Home</li>
    
            <li [routerLink]="['/shop']" routerLinkActive="active">Shop</li>
    
            <li [routerLink]="['/shop']" >Favourite</li>
    
            <li [routerLink]="['/shop']" >Cart</li>
    
        </ul>
        <div class="menu" >
            <div class="one"></div>
            <div class="two"></div>
            <div class="three"></div>
        </div>
    </nav>
    <div class="hid">
        <ul>
            <li [routerLink]="['/products']" routerLinkActive="active">Home</li>
    
            <li [routerLink]="['/shop']" routerLinkActive="active">Shop</li>
    
            <li [routerLink]="['/shop']" >Favourite</li>
    
            <li [routerLink]="['/shop']" >Cart</li>
    
        </ul>
    </div>
</div>
