


<footer>
    <div class="row">
        <div class="col-lg-3">
            <div>
                <h1 class="h2 mb-4">O R D E R</h1>
                <p>The home and elements needed to create beautiful products.</p>
                <div class="social">
                    <div>
                        <a href="https://www.linkedin.com/in/ahmed-eid-18032217a/">
                            <i class="fa-brands fa-linkedin-in icon"></i>
                        </a>
                    </div>
                    <div>
                        <a href="https://github.com/AhmedEid1998">
                            <i class="fa-brands fa-github icon"></i>
                        </a>
                    </div>
                    <div>
                        <a href="https://www.facebook.com/profile.php?id=100009248987931">
                            <i class="fa-brands fa-facebook icon"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-3">
            <div>
                <h2 class="h2 mb-4">Company</h2>

                <ul>
                    <li>About Us</li>
                    <li>Carees</li>
                    <li>Location</li>
                    <li>Our Blog</li>
                    <li>Reviews</li>
                </ul>

            </div>
        </div>

        <div class="col-lg-3">
            <div>
                <h2 class="h2 mb-4">Support</h2>

                <ul>
                    <li>FAQs</li>
                    <li>Reviews</li>
                    <li>Contact Us</li>
                    <li>Shopping</li>
                    <li>Return</li>
                </ul>

            </div>
        </div>

        <div class="col-lg-3">
            <div>
                <h2 class="h2 mb-4">Talk To Us</h2>
                <p><i class="fa-brands fa-whatsapp mx-2"></i> : <span class="mx-2">01275780949</span></p>
                <p><i class="fa-solid fa-phone mx-2"></i> : <span class="mx-2">01203014616</span></p>
                <p><i class="fa-solid fa-envelope mx-2"></i> : <a class="mx-2" href="https://mail.google.com/mail/u/0/#inbox">eid284933@gmail.com</a></p>

            </div>
        </div>
    </div>
</footer>
